html {
  box-sizing: border-box;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #e3e2e2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  /* Center vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.child {
  min-width: 500px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 6px 6px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%;
  flex: 1;
}

.column img {
  align-self: center;
  margin: 20px;
}

.column h2 {
  color: #218380;
  font-size: 2rem;
}

img {
  min-width: 150px;
  min-height: 150px;
  border-radius: 50%;
}

h1 {
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding: 50px 0;
}

button {
  align-items: center;
  background: #218380;
  border: 0 solid #218380;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#price {
  font-size: 3rem;
}
